<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="userId*">
            <input id="desc" type="text" name="description" placeholder="description*">
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <label for="dat">Select date:</label>
            <input id="dat" type="date" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/log" method="get">
            <h3>Show user log</h3>
            <p><code>GET /api/exercise/log</code></p>
            <input id="id" type="text" name="id" placeholder="userId*">
            <label for="from">Date from:</label>
            <input type="date" name="from" min="2000-01-01">
            <label for="to">Date to:</label>
            <input type="date" name="to" max="2179-12-31">
            <label for="limit">Select limit of records per log:</label>
            <input type="number" name="limit" min="1" placeholder="limit">
            <input type="submit" value="Submit">
          </form>
          <a href="https://fcc-rest.glitch.me/api/exercise/users"><button class="udb">Users database</button></a>
         <h2>Description</h2>
          <p>Use this app to:</p>
          <ol>
           <li>Create new user</li>
           <li>Add exercises to user account (user ID needed)</li>
           <li>Read log of user exercises (user ID needed)</li>
          </ol>
      </div>
     <hr/>
     <div class="footer">
        <p>
          by <a href="http://www.freecodecamp.com/">freeCodeCamp</a> |
        edited and functionality added by Corny
        </p>
      </div>
  </body>

</html>
